html, body {
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.cabe {
  padding: 30px;
}
.link{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    bottom: -485px;
    font-size: 36px;
  }
  #font {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
  }
  #font:hover {
    background-color: orange;
    border-color: rgb(8, 8, 8);
    color: black;
  }
  .brq{
      
      text-align: center;
      margin-top: 2em;
      -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: #000;
     font-size: 5em; 
     color: orange;
     
  }
.sessao{
    background-image: url(img/BRQ-Office-Capa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 auto;
    border-radius: 10px;
}
/*RODAPE - FOOTER*/
.rodape {
    background-image: url(img/backgorund.png);    
    background-size: cover;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
    
   
    
       
}
.roda li{
  display: inline-block;
  margin-top: 10px;
  
  
	
}
.roda a{  
    background-repeat: no-repeat;
    color: transparent;
    width: 40px;
	height: 40px;
    
	
}
.linked{
    background-image: url(img/linke.png);
    padding: 20px;
}
.github{
    background-image: url(img/git.png);
    padding: 20px;
}
.twitter{
    background-image: url(img/twitter.jpg);
    padding: 20px;
}
.inst{
    background-image: url(img/Insta.png);
    padding: 20px;
}
.tube{
    background-image: url(img/Youtube.png);
    padding: 20px;
}
/*FIM*/

/*TELA AS 10 CIDADES*/
.sessacid{
    flex: 1 0 auto;
    border-radius: 10px;
    background-color: cadetblue;
}
img{
    width: 60px;
    height: 60px;
}
p{
  
    animation: blinker 1.5s linear infinite;
    color: red;
    font-weight: bold;
    font-family: sans-serif;
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}

