@charset "UTF-8";

.main {
    margin-bottom: 75px;
    min-height: calc(100vh - 158px - 115px - 50px - 75px);
}

.main h1 {
    margin-bottom: 50px;
}


.mochileiros__card {
    display: inline-block;
    vertical-align: top;
    width: 186px;

}

.mochileiros__card+.mochileiros__card {
    margin-left: 127px;
}

.mochileiros__card h3 {
    font: 700 12px 'Dosis', sans-serif;
    margin: 19px 0;
}

.mochileiros__card p {
    font: 400 12px 'Inter', sans-serif;
    text-align: center;
}

.background {
    margin-top: 36px;
    height: 266px;
    width: 100%;
    background-image: url(../img/mochileiros/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.background p {
    font-weight: 700;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

.comentario {
    margin-top: 41px;
}

.comentario h1 {
    margin-bottom: 42px;
}

.comentario__form___box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comentario__input,
.comentario__text {
    background-color: var(--cyan-pastel-50);
    border: 1px solid var(--cyan-400);
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--cyan-pastel-600);
    padding: 11px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.comentario__input {
    height: 41px;
}

.comentario__label--file {
    width: 208px;
    height: 31px;
    background-color: var(--cyan-400);
    color: var(--white);
    padding: 0;
    text-align: center;
    line-height: 31px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.comentario__input--file {
    display: none;
}

.comentario__text {
    width: 100%;
    height: 152px;
    display: block;
    margin-top: 13px;
    resize: none;
}

.comentario__text::-webkit-scrollbar {
    width: 5px;
}

.comentario__text::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: 0 0 6px var(--cyan-400);

}

.comentario__text::-webkit-scrollbar-thumb {
    background-color: var(--cyan-400);
    outline: 1px solid var(--cyan-400);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.comentario__form___button {
    display: block;
    background-color: var(--cyan-700);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: 700;
    height: 52px;
    margin-left: auto;
    margin-top: 25px;
    transition: filter 0.2s;
    width: 208px;
}

.commentario__form___button:hover {
    filter: brightness(0.8);
  }